<div class="smooth-carousel">
    <div class="smooth-carousel-inner">
        <!-- Images will be injected here via JavaScript -->
    </div>
    
    <button class="smooth-carousel-control prev" type="button">
        <span class="mdi mdi-arrow-left" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="smooth-carousel-control next" type="button">
        <span class="mdi mdi-arrow-right" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="smooth-carousel-indicators">
        <!-- Indicators will be injected here via JavaScript -->
    </div>
</div>
