<form class="price-toggle">
    <label class="price-option premium active">
        <input type="radio" name="price" value="premium" checked>
        <div class="price-content">
            <div class="price-header">
                <span class="price">$40</span>
                <span class="label">Premium</span>
            </div>
            <p class="features">Includes extra features, such as recording the visualizer,
                live video input, visualizing MP4s, and more!</p>
        </div>
    </label>
    <label class="price-option free">
        <input type="radio" name="price" value="free">
        <div class="price-content">
            <div class="free-option-content">
                <p class="features">Free version with the basics.<br>For personal,
                    educational, or non-commercial use only.</p>
            </div>
        </div>
    </label>
</form>
