<div class="purchase-card" id="purchase">
    <div class="row">
        <div class="col-lg-8">
            <div class="product-info">
                <h2 class="mb-3" data-product-title>Product Name</h2>
                <div class="author">
                    <img data-author-image src="../assets/images/jameshball.jpg" alt="James H Ball" class="author-avatar">
                    <span class="author-name">James H Ball</span>
                </div>
                <div class="description" data-product-description>
                    <!-- Product description content will be inserted here -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="purchase-options">
                <div data-pricing-options>
                    <!-- Pricing options will be inserted here -->
                </div>
                
                <a class="action-button premium custom-js-btn">
                    <span data-purchase-button-text>Purchase</span>
                </a>

                <div class="discord-section">
                    <div class="discord-options">
                        <a href="https://discord.gg/ekjpQvT68C" target="_blank" rel="noopener"
                            class="action-button discord"> 
                            <span>Join Discord Server</span>
                        </a>
                    </div>
                </div>
                
                <div class="reviews-section" data-reviews-section>
                    <!-- Reviews will be inserted here -->
                </div>
            </div>
        </div>
    </div>
</div>
