<h4>Reviews</h4>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">I couldn't get some of the features working at first, but the
        support I received was amazing. The developers were super patient and even sent
        me unreleased files just because I asked! They walked me through everything with
        step-by-step instructions. It really feels like they care about their users. Big
        thanks to the team—this app and the support behind it are next-level!</p>
    <p class="review-author">Venkatramanan Jayakumar</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">I've been using oscirender since almost a year now, both for
        live and artwork, and it has proven again and again to be a fantastic tool, that
        keeps getting better with each version. I really recommend give it a go and try
        by yourself, not gonna regret it</p>
    <p class="review-author">Javier Jose Plano</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">I started out completely blind, knowing nothing about this
        art form, and when I finally got the hang of if I realized how insane this
        plugin is, it's blowing my mind every time I play around with it. The fact that
        you can load almost anything makes it extra fun, you can create inane stuff with
        it. The second I have some extra money I wanna buy the sosci!</p>
    <p class="review-author">Anonymous</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">This software is pretty incredible, my friend got a tektronix
        515A at an estate sale cant wait to mess around with hooking it up</p>
    <p class="review-author">Jeffrey Grant Nolan</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">THANK YOU!!!!! @JAMES H BALL, amazing software and amazing
        developer</p>
    <p class="review-author">Anonymous</p>
</div>
