<h4>Reviews</h4>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">I've not tried osci-render premium yet, but sosci is the best software oscilloscope I've ever used, and I've used quite a few! It looks great, it's highly customisable, and it has super-simple record/video export functionality. Well worth the price. (EDIT: Asked about a VST version/floating window, turns out this already exists!)</p>
    <p class="review-author">stillawake</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">Looks incredible, offers so much variety of styles, no hassle with a screen recorder due to the recording feature, and includes a VST so you can see exactly how your final production will look on the fly. It's everything you could ever want a software oscilloscope to be!</p>
    <p class="review-author">Anthony Hall</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">OMG this is the best! I've been looking for exactly this for years, and I was going to buy expensive hardware. This works in my DAW or standalone and is perfect for light and sound shows. THANK YOU!!</p>
    <p class="review-author">Anonymous</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">Hands down, the best software replication of a hardware oscilloscope on the market. The accessibility features for adjusting the display settings AND Lua compatible live coding, I'm in love with this software. 🥰 Thank you James!</p>
    <p class="review-author">Anonymous</p>
</div>
<div class="review">
    <div class="review-header">
        <div class="stars">
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
            <span class="mdi mdi-star"></span>
        </div>
    </div>
    <p class="review-text">I cured my own cancer with sosci, plus it keeps hot dog buns fresh for days in the refrigerator! Thanks, sosci! :)</p>
    <p class="review-author">Anonymous</p>
</div>
